<!DOCTYPE html> 
<head>
  <link rel="stylesheet" href="stylesheets/about.css">
</head>
<body>
 <div class="col-md-10 col-md-offset-1">
    <div class="about row">
      <div class="col-md-3">
	<a class="thumbnail">
	  <img src="images/image.jpg">
	</a>
      </div>
      <h3>Who Are We?</h3> 
      <p>FiveStar Valet is a first class parking service provider. We put people first, always.</p>
    </div>
    <div class="about row">
      <div class="col-md-9">
	<h3>What To Expect</h3>
	<p>At Five Star Valet, we take pride in supplying our clients with exactly the type of service that they expect and desire.  We understand that not every location is the same, and we work hard to tailor our service to meet your most definitive requirements. As our client, your needs come first.</p><br/> 
      </div>
      <div class="col-md-3">
	<a class="thumbnail">
	  <img src="images/image.jpg">
	</a>
      </div>
    </div>
    <div class="about row">
      <div class="col-md-3">
	<a class="thumbnail">
	  <img src="images/image.jpg">
	</a>
      </div>
      <h3>First Impressions Matter</h3> 
      <p>Choosing Five Star Valet to represent your event or establishment is the first step in creating a wonderful experience for your guests, from start to finish.</p>
    </div>
  </div>
</body>
