<!DOCTYPE html> 
<head>
  <link rel="stylesheet" href="stylesheets/about.css">
</head>
<body>
 <div class="col-md-10 col-md-offset-1">
   <div class="about row">
     <div class="col-md-3">
       <a class="thumbnail">
	 <img src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/people_silouette.png">
       </a>
     </div>
     <h1>Who Are We?</h1> 
     <p>Five Star Valet is a first class parking service provider. With over 40 years of combined experience in our managment team, we offer parking solutions for all types of requirements. We build our company one brick at a time, allowing us to give the special attention to detail that sets us apart from the rest. Choosing Five Star Valet to represent your establishment shows that you are committed to bringing your guests the highest quality of service through every second of their time with you.</br></br>Our valets our hand selected through multiple interviews and record checks, then carefully trained to be comfortable in any situation they are presented with. We believe that good people are the strongest roots to good business, which is why we take the time to select and support only the highest quality of employment candidates. Don't fall for the idea that all valets are the same, we can show you how it feels to be at ease with the parking options you provide.</p>
    </div>
  <div class="about row">
    <div class="col-md-3 pull-right">
      <a class="thumbnail">
        <img src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/golden_egg.jpg">
      </a>
    </div>
    <h1>What To Expect</h1>
    <p>Nothing is more important to us than pleasing you and your guests, and we do so by providing friendly and effecient service at an appropriate pace. Parking cars is only part of what we do, and we are trained to accomodate for all types of customer interactions across all demographics. Whether greeting a guest late for a dinner date, or an out of town family looking for nearby attractions, you can expect our attendants to take notice and give personal service to each individual accordingly.</br></br>At Five Star Valet, we take pride in supplying our clients with exactly the type of service that they expect and desire.  We understand that not every location is the same, and we work hard to tailor our service to meet your requirements. As our client, your needs come first.
    </p>
  </div>
  <div class="about row">
    <div class="col-md-3">
      <a class="thumbnail">
	<img src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/valet_handshake.jpg">
      </a>
    </div>
    <h1>First Impressions Matter</h1> 
    <p>Choosing Five Star Valet to represent your event or establishment is the first step in creating a wonderful experience for your guests, from start to finish. Dont let your guests arrive frustrated because they had to park far or walk through the rain, let us greet them with a smile as they arrive on site knowing their vehicle will be in good hands. Making people feel welcome and comfortable is what we do best.</p>
  </div>
</body>
