<!DOCTYPE html>
  <head>
    <style type="text/css">
    html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=SET_TO_TRUE_OR_FALSE"></script>
    <script type="text/javascript">
      function initialize() {

	var mapOptions = {
	  center: { lat: 39.7392, lng: -104.9903},
	  zoom: 13 
	};

	var map = new google.maps.Map(document.getElementById('map-canvas'),
	    mapOptions);

	var request = {
	  location: map.getCenter(),
		    radius: '5000',
	  query: 'Epernay'
	};

	var changsMarker = new google.maps.Marker({
	    position: { lat: 39.749334, lng: -104.999661 },
	    map: map,
	    title: 'P.F. Changs'
	});

	var hapaMarker = new google.maps.Marker({ 
	  position: { lat: 39.749752, lng: -104.999921 },
	  map: map,
	  title: 'Hapa Sushi'
	});

	var service = new google.maps.places.PlacesService(map);
	service.textSearch(request, callback);
      }


      function callback(results, status) {
	if (status == google.maps.places.PlacesServiceStatus.OK) {
	  var epernayMarker = new google.maps.Marker({
	    map: map,
	    place: {
	      placeId: results[0].place_id,
	      location: results[0].geometry.location}
	  });
	}
      }

      //google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <link rel="stylesheet" href="stylesheets/clients.css"> 
    <script src="javascripts/analytics.js"></script>
  </head>
  <body>
    <div class="col-md-6 col-md-offset-3 intro">
      <h1>Our Clients</h1>
      <p>Five Star Valet is working hard to become the number one name in valet parking in the Greater Denver Area. We strive to mantain close personal relationships with our clients to ensure that they last. Here is a list of establishments that we proudly represent.</p>
    </div>
    <div class="col-md-10 col-md-offset-1 clients-list">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		  P.F. Chang's China Bistro<span class="glyphicon glyphicon-info-sign pull-right"></span>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
		<img class="client-logo col-sm-4 col-xs-12" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/pf_changs_logo.jpeg"/>
		<div class="client-info col-sm-8">
		  <h3>P.F. Changs China Bistro</h3>
		  <p>1415 15th St</p>
		  <p>Denver, CO 80202</p>
		  <p><a href="http://www.pfchangs.com"><span class="glyphicon glyphicon-globe"></span>  Website</a></p>
		  <p><a href="https://www.google.com/maps/place/P.F.+Chang's/@39.7493312,-104.9996602,17z"><span class="glyphicon glyphicon-road"><span> Map</a></p>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		  Chloe Nightclub<span class="glyphicon glyphicon-info-sign pull-right"></span>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
		<img class="client-logo col-sm-4 col-xs-12" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/chloe_door.jpg">
		<div class="client-info col-sm-8">
		  <h3>Chloe Nightclub</h3>
		  <p>1445 Market Street</p>
		  <p>Denver, CO 80202</p>
		  <p><a href="http://www.lotusclubs.com"><span class="glyphicon glyphicon-globe"></span> Website</a></p>
		  <p><a href="https://www.google.com/maps/place/Chloe/@39.7490137,-104.9999162,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78c501030e77:0x93ddb785ee114882"><span class="glyphicon glyphicon-road"></span>Map</a></p>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingThree">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Dorchester Social Eatery<span class="glyphicon glyphicon-info-sign pull-right"></span> 
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      <div class="panel-body">
                <img class="client-logo col-sm-4 col-xs-12" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/dorchester_logo.png">
		<div class="client-info col-sm-8">
		  <h3>Dorchester Social Eatery</h3>
		  <p>1448 Market St</p>
		  <p>Denver, CO 80202</p>
		  <p><a href="http://www.dorchesterdenver.com"><span class="glyphicon glyphicon-globe"></span> Website</a></p>
		  <p><a href="https://www.google.com/maps/place/Dorchester+Social+Eatery/@39.748614,-104.999707,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78c5053ba4b3:0x415eb53377a9cc75"><span class="glyphicon glyphicon-road"></span> Map</a></p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="headingFour">
	    <h4 class="panel-title">
	    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		Prive Nightclub<span class="glyphicon glyphicon-info-sign pull-right"></span> 
	    </a>
	    </h4>
	  </div>
	  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
	    <div class="panel-body">
	      <img class="client-logo col-sm-4 col-xs-12" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/prive_logo.png"> 
	      <div class="client-info col-sm-8">
		<h3>Prive Nightclub</h3>
		<p>1334 15th St</p>
		<p>Denver, CO 80202</p>
		<p><a href="https://www.priveatdorchester.com"><span class="glyphicon glyphicon-globe"></span> Website</a></p>
		<p><a href="https://www.google.com/maps/place/Priv%C3%A9+At+Dorchester/@39.748689,-104.999381,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78c51b71ae6f:0x8f3e566d21193452"><span class="glyphicon glyphicon-road"></span> Map</a></p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="headingFive">
	    <h4 class="panel-title">
	      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
		Epernay Lounge<span class="glyphicon glyphicon-info-sign pull-right"></span>
	      </a>
	    </h4>
	  </div>
	  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
	    <div class="panel-body">
	      <img class="client-logo col-sm-4 col-xs-12" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/epernay_logo.jpeg">
	      <div class="client-info col-sm-8">
		<h3>Epernay Lounge</h3>
		<p>1080 14th St</p>
		<p>Denver, CO 80202</p>
		<p><a href="http://www.epernaylounge.com"><span class="glyphicon glyphicon-globe"></span> Website</a></p>
		<p><a href="https://www.google.com/maps/place/Epernay+Lounge+Denver/@39.7456009,-104.9981514,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78c558859527:0x7dbab9dc1e0eb6b3"><span class="glyphicon glyphicon-road"> Map</a></p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="headingSix">
	    <h4 class="panel-title">
	      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
		Viewhouse - Centennial<span class="glyphicon glyphicon-info-sign pull-right"></span>
	      </a>
	    </h4>
	  </div>
	  <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
	    <div class="panel-body">
	      <img class="client-logo col-sm-4 col-xs-12" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/viewhouse_logo.jpg">
	      <div class="client-info col-sm-8">
		<h3>Viewhouse - Centennial</h3>
		<p>7101 S Clinton St</p>
		<p>Centennial, CO 80112</p>
		<p><a href="http://www.viewhouse.com"><span class="glyphicon glyphicon-globe"></span> Website</a></p>
		<p><a href="https://www.google.com/maps/place/ViewHouse+Centennial/@39.5875225,-104.8792862,17z/data=!3m1!4b1!4m2!3m1!1s0x876c85d9b89f62b3:0x1433965aad2dbd2"><span class="glyphicon glyphicon-road"></span> Map</a></p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="headingSeven">
	    <h4 class="panel-title">
	      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
		  Hapa Sushi Grill & Sake Bar - LoDo<span class="glyphicon glyphicon-info-sign pull-right"></span>
	      </a>
	    </h4>
	  </div>
	  <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
	    <div class="panel-body">
	      <img class="client-logo col-sm-4 col-xs-12" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/hapa_logo.png">
	      <div class="client-info col-sm-8">
		<h3>Hapa Sushi Grill & Sake Bar - LoDo</h3>
		<p>1514 Blake St</p>
		<p>Denver, CO 80202</p>
		<p><a href="http://www.hapasushi.com"><span class="glyphicon glyphicon-globe"></span> Website</a></p>
		<p><a href="https://www.google.com/maps/place/Hapa+Sushi+Grill+and+Sake+Bar+-+LoDo/@39.7497544,-104.9999291,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78c4fa1f0dfb:0x302f7ebee14005ca"><span class="glyphicon glyphicon-road"></span> Map</a></p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="headingEight">
	    <h4 class="panel-title">
	      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
		1515 Restaurant<span class="glyphicon glyphicon-info-sign pull-right"></span>
	      </a>
	    </h4>
	  </div>
	  <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
	    <div class="panel-body">
	      <img class="client-logo col-sm-4 col-xs-12" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/1515_logo.jpeg">
	      <div class="client-info col-sm-8">
		<h3>1515 Restaurant</h3>
		<p>1515 Market St</p>
		<p>Denver, CO 80202</p>
		<p><a href="http://www.1515restaurant.com"><span class="glyphicon glyphicon-globe"></span> Website</a></p>
		<p><a href="https://www.google.com/maps/place/1515+Restaurant/@39.7493855,-104.9993068,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78c4e24a53a3:0x57d6979f03e94ea4"><span class="glyphicon glyphicon-road"></span> Map</a></p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="headingNine">
	    <h4 class="panel-title">
	      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
		  Denver Performing Arts Complex<span class="glyphicon glyphicon-info-sign pull-right"></span>
	      </a>
	    </h4>
	  </div>
	  <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
	    <div class="panel-body">
	      <img class="client-logo col-sm-4 col-xs-12" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/theatre_logo.jpeg">
	      <div class="client-info col-sm-8">
		<h3>Denver Performing Arts Complex</h3>
		<p>1345 Champa Street</p>
		<p>Denver, CO 80204</p>
		<p><a href="http://www.artscomplex.com"><span class="glyphicon glyphicon-globe"></span> Website</a></p>
		<p><a href="https://www.google.com/maps/place/Denver+Performing+Arts+Complex/@39.7443919,-104.997636,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78d1d5c6fb4b:0xa381e27f707e3d1d"><span class="glyphicon glyphicon-road"></span> Map</a></p>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
