<!DOCTYPE html>
  <head>
    <style type="text/css">
    html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=SET_TO_TRUE_OR_FALSE"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry"></script>
    <script type="text/javascript">
      function initialize() {

	var mapOptions = {
	  center: { lat: 39.7392, lng: -104.9903},
	  zoom: 13 
	};

	var map = new google.maps.Map(document.getElementById('map-canvas'),
	    mapOptions);

	var request = {
	  location: map.getCenter(),
		    radius: '5000',
	  query: 'Epernay'
	};

	var changsMarker = new google.maps.Marker({
	    position: { lat: 39.749334, lng: -104.999661 },
	    map: map,
	    title: 'P.F. Changs'
	});

	var hapaMarker = new google.maps.Marker({ 
	  position: { lat: 39.749752, lng: -104.999921 },
	  map: map,
	  title: 'Hapa Sushi'
	});

	var service = new google.maps.places.PlacesService(map);
	service.textSearch(request, callback);
      }


      function callback(results, status) {
	if (status == google.maps.places.PlacesServiceStatus.OK) {
	  var epernayMarker = new google.maps.Marker({
	    map: map,
	    place: {
	      placeId: results[0].place_id,
	      location: results[0].geometry.location}
	  });
	}
      }

      //google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <link rel="stylesheet" href="stylesheets/clients.css"> 
  </head>
  <body>
    <div class="col-md-6 col-md-offset-3 intro">
      <h1>Our Clients</h1>
      <p>Five Star Valet is working hard to become the number one name in valet parking in the Greater Denver Area. We strive to mantain close personal relationships with our clients to ensure that they last. Here is a list of establishments that we proudly represent.</p>
    </div>
    <div class="col-md-10 col-md-offset-1 clients-list">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		  P.F. Chang's China Bistro<span class="glyphicon glyphicon-info-sign pull-right"></span>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
		<img class="client-logo col-md-4" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/pf_changs_logo.jpeg"/>
		<div class="client-info col-md-8 col-xs-10">
		  <h3>P.F. Changs China Bistro</h3>
		  <p>1415 15th St</p>
		  <p>Denver, CO 80202</p>
		  <p><a href="http://www.pfchangs.com"><span class="glyphicon glyphicon-globe"></span>  Website</a></p>
		  <p><a href="https://www.google.com/maps/place/P.F.+Chang's/@39.7493312,-104.9996602,17z">Google Maps</a>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		  Chloe Nightclub<span class="glyphicon glyphicon-info-sign pull-right"></span>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
		<img class="client-logo col-md-4" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/chloe_door.jpg">
		<div class="client-info col-md-8">
		  <h3>Chloe Nightclub</h3>
		  <p>1445 Market Street</p>
		  <p>Denver, CO 80202</p>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingThree">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Dorchester Social Eatery<span class="glyphicon glyphicon-info-sign pull-right"></span> 
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      <div class="panel-body">
                <img class="client-logo" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/dorchester_logo.png">
		<div class="client-info col-md-8">
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingThreeandhalf">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThreeandhalf" aria-expanded="false" aria-controls="collapseThreeandhalf">
                  Prive Nightclub<span class="glyphicon glyphicon-info-sign pull-right"></span> 
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThreeandhalf" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThreeandhalf">
	      <div class="panel-body">
		<img class="thumbnail restaurant-logo" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/prive_logo.png">
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingFour">
	      <h4 class="panel-title">
		<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		  Epernay Lounge<span class="glyphicon glyphicon-info-sign pull-right"></span>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
	      <div class="panel-body">
		<img class="thumbnail restaurant-logo" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/epernay_logo.jpeg">
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingFive">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
		  Viewhouse, Centennial<span class="glyphicon glyphicon-info-sign pull-right"></span>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
	      <div class="panel-body">
		<img class="thumbnail restaurant-logo" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/viewhouse_logo.jpg">
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingSix">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
		  Hapa Sushi Grill & Sake Bar<span class="glyphicon glyphicon-info-sign pull-right"></span>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
	      <div class="panel-body">
		<img class="thumbnail restaurant-logo" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/hapa_logo.png">
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingSeven">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
		  1515 Restaurant<span class="glyphicon glyphicon-info-sign pull-right"></span>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
	      <div class="panel-body">
		<img class="thumbnail restaurant-logo" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/1515_logo.jpeg">
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingEight">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
		  Denver Theatre District<span class="glyphicon glyphicon-info-sign pull-right"></span>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
	      <div class="panel-body">
		<img class="thumbnail restaurant-logo" src="https://s3-us-west-2.amazonaws.com/fivestar-pictures/theatre_logo.jpeg">
	      </div>
	    </div>
	  </div>
	</div>
    </div>
  </body>
</html>
