<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="stylesheets/contact.css">
</head>
<body>
  <h1>Contact Information</h1>
  <div class="col-md-6 col-md-offset-3" id="contact-info">
    <span class="contact">
      <h2>Phone:</h2> (303) 763-0547</p>
    </span>
  </div>
</body>
