<div id="banner">
    <img src="images/logo.jpeg" width="300"/>
</div>

<div id="navbar">
  <ul>

    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/clients">Our Clients</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>
</div>

<link rel="stylesheet" type="text/css" href="stylesheets/layout.css"/>
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/layout.js"></script>
<%= yield  %>
