<div id="banner">
  <h1>Five Star Valet</h1>
  <h3>Welcome to the homepage of Five Star Valet!</h3>
  <h3>Where every guest is a STAR<h3>
</div>

<div id="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/clients">Our Clients</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>
</div>

<link rel="stylesheet" type="text/css" href="stylesheets/layout.css"/>
<script type="text/javascript" src="javascripts/jquery.js"></script>
<%= yield  %>
