<!DOCTYPE html> 
<html>
  <head>
    <!-- styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/layout.css">
    <meta name="viewport" content="width=device-width initial-scale=1"
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <a class="navbar-brand" href="/">
	    <img alt="brand" src="images/logo.jpeg" height="30">
	  </a>
        </div> 
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class= "nav navbar-nav">
	    <li>
	      <a href="/"><span class="glyphicon glyphicon-star"></span> Home</a>
	    </li>
	    <li>
	      <a href="/about"><span class="glyphicon glyphicon-star"></span> About Us</a>
	    </li>
	    <li>
	      <a href="/services"><span class="glyphicon glyphicon-star"></span> Services</a>
	    </li>
	    <li>
	    <a href="/clients"><span class="glyphicon glyphicon-star"></span> Our Clients</a>
	    </li>
	    <li>
	    <a href="/contact"><span class="glyphicon glyphicon-star"></span> Contact Us</a>
	    </li>
	  </ul>
	</div>
      </div>
    </nav>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <%= yield  %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/layout.js"></script>
  </body>
</html>
