<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="stylesheets/services.css">
</head>
<body>
  <div class="col-md-10 col-md-offset-1 intro">
    <h1>What Can We Do For You?</h1>
    <p>If you are a restaurant, nightclub, hotel, hospital, event manager, or person in need of parking services, you can trust FiveStar Valet to get the job done and leave every guest feeling satisfied.</p>
  </div>
  <div class="row col-md-offset-1">
    <div class="col-md-3 service-window">
      <h2>Restaurants</h2>
      <p>Dont let your guests arrive in frustration. We create parking solutions for any size establishment with a quality of service that will set your restaurant apart from the rest.</p>
      <div class="btn btn-danger">Request a Quote</div>
    </div>
    <div class="col-md-3 service-window">
      <h2>Nightclubs</h2>
      <p>Take your club to the next level by allowing every guest to arrive right at the front door, promptly greeted by one of our valet professionals.</p>
      <div class="btn btn-danger">Request a Quote</div>
    </div>
    <div class="col-md-3 service-window">
      <h2>Hotels</h2>
      <p>Show your guests that you take their comfort seriously in every way. Having a trustworthy parking service at hand eases the stress of vehicle security in an unfamiliar place.</p>
      <div class="btn btn-danger">Request a Quote</div>
    </div>
  </div>
  <div class="row col-md-offset-1">
    <div class="col-md-3 service-window">
      <h2>Hospitals</h2>
      <p>Parking trouble is the last thing you want for a patient or guest at your hospital. Our valets can eliminate parking problems, and offer visitors a sincere greeting at your doorstep.</p>
      <div class="btn btn-danger">Request a Quote</div>
    </div>
    <div class="col-md-3 service-window">
      <h2>Events</h2>
      <p>Stop parking disasters before they happen. Our professionals can organize and direct parking solutions for any event, regardless of type or size.</p>
      <div class="btn btn-danger">Request a Quote</div>
    </div> 
    <div class="col-md-3 service-window">
      <h2>Private Parties</h2>
      <p>Give your guests the greeting they deserve. Having a professional valet attendant present at your private party or event is a great way to exceed expectations.</p> 
      <div class="btn btn-danger">Request a Quote</div>
    </div>
  </div>
</body>
