<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="stylesheets/services.css">
</head>
<body>
<div class="col-md-6 col-md-offset-1 intro">
    <h3>What Can We Do For You?</h3>
    <p>If you are a restaurant, nightclub, hotel, hospital, event manager, or person in need of parking services, you can trust FiveStar Valet to get the job done and leave every guest feeling satisfied.</p>
  </div>
</body>
