<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/welcome.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
	<h1>Five Star Valet</h1>
	<p>Your premier choice for<br/>valet parking solutions in the greater Denver area</p>
	<p><a class="btn btn-primary btn-lg" href="about" role="button">Learn more</a></p>
      </div>
    </div>
  </body>
</html>
