<img src='images/download.jpeg'>
<div class="intro">
  <h3>
    Five Star Valet is your premier choice for valet parking solutions in the greater Denver area.
  </h3>
</div>


<link rel="stylesheet" type="text/css" url="stylesheets/welcome.css"/>
<script src="javascripts/welcome.js" type="text/javascript"></script>
