.about {
  color: white;
  background-color: rgb(35, 35, 35);
  border-radius: 10px;
  padding-top: 15px;
  margin-bottom: 30px;
}

.left-pic h3 {
  padding: 0px 15px;
}

.left-pic p {
  padding: 0px 15px;
}
