body { 
  color: rgb(145, 145, 145);
  background-color: black;
  font-family: "Palatino", serif;
}

.nav a {
  color: white !important;
  font-size: 20px;
  font-weight: bold;
}

.main-logo {
  padding: 15px 0px;
}
