html, body { 
  color: white;
  background-image: url("https://s3-us-west-2.amazonaws.com/fivestar-pictures/black-wood.jpg");
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#footer {
  height: 20px;
  margin-top: -20px;
  bottom: 0px;
  left: 0px;
  text-align: right;
}

.nav a {
  text-align: center;
  color: white !important;
  font-size: 17px;
  padding-top: 20px;
}

.nav a:hover {
  color: red !important;
  font-size: 20px;
}

.main-logo {
  padding: 15px;
  position: relative;
  z-index: 1;
}

li {
  padding-top: 15px;
} 

.navbar-toggle {
  margin-right: 25px;
}


@media (max-width: 780px) {
  #footer {
    position: relative;
    margin-top: 20px;
  }
}
