body { 
  color: white;
  background-color: black;
  font-family: "Palatino", serif;
}

.nav a {
  color: white !important;
  font-size: 17px;
  padding-top: 20px;
}

.nav a:hover {
  color: red !important;
  font-size: 20px;
}

.main-logo {
  padding: 15px;
  position: relative;
  z-index: 1;
}

li {
  padding-top: 15px;
} 

.welcome-header {
  text-align: center;
}
