.intro {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-bottom: 20px;
}

.service-window {
  border: 2px solid white;
  margin: 25px;
  height: 250px;
  text-align: center;
}

.service-window p {
  height: 105px;
}
